body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-table-header-sortable:hover {
  background-color: lightgrey;
}

.todo-record-row:hover {
  background-color: lightgrey;
}

.todo-record-update-btn[disabled] {
  background-color: lightgrey;
  border-color: lightgrey;
}

.sorting-icon {
  float: right;
  padding-right: 0.5rem;
}
